AppData/Local/AMD/DxCache/

git rm --cached AppData/Local/AMD/DxCache/047b5fa9bee4ed212ee43c91e58b3e165b5edc7221e8ffe9.bin

git status

git add .
git commit -m "Remover arquivos indesejados e adicionar .gitignore"
git push
